<!DOCTYPE html>
<html ng-app="rejornApp">
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="padding-top: 40px">
      <h3>Showing <%= @news.length %> articles</h3>
      <style>
        .selected-class-name { background-color: yellow;}
        .LOCATION,.DURATION,.DATE,.MEASURE,.ORGANIZATION,.PERSON,.MONEY,.CARDINAL,.PERCENT,.TIME { background-color: yellow;}
        .content { background-color: none;}
        .not-content { background-color: yellow;}
        .extra {background-color: red; }
        .list {display: block;}
        .eol {visibility: hidden; clear: both; display: block;}
        .inline {float: left; margin: 3px;}
      </style>
<%= erb :nav %>

<div class="container-fluid" ng-controller="newsContentCtrl">
<div class="row-fluid">
      <div id="news" class="span8" style="padding: 10px 0px;">
      <div class="span10" class="overflow-wrap: break-word;">
        <h3><span ng-click="previous(news.id)">-</span> ID: {{news.id}} <span ng-click="next(news.id)">+</span></h3>
        <h1>{{news.title}}</h1>
        <b>{{news.updated_ts}}</b>
          <span href="#" tooltip="{{news.class_legend[news.content_classes[$index]]}}" ng-repeat="content in news.contents track by $index" ng-class="[ itemIn($index), typeTag($index) ]" ng-click="itemClicked($index)" style="word-wrap: initial;" >{{content}}</span>
      <div style="clear: both"></div>
      <button ng-click='sentences()'>Request Raw Text to Sentences</button>
      <button ng-click='entities()'>Request Entities</button>
      <button ng-click='sent_sentences()'>Send senteces to be saved</button>
      <button ng-click='sent_iobs()'>Send entities to be saved</button>
      <button ng-click='pos()'>Request Sentences to POS</button>
      </div>
      </div>
<div class="span2">
        <h3>
        Legend
</h3>
        <ul>
        <li ng-repeat="legend in news.class_legend" ng-class="legend">{{legend}}</li>
        </ul>

        <h3>
        Jobs 
</h3>
        <ul>
        <li ng-repeat="job in jobs" ng-class="legend">
          <div id="news_id">{{job.news_id}}</div>
          <div id="request_type">{{job.request_type}}</div>
          <div id="job_id">{{job.job_id}}</div>
          <div ng-if="job.status == 'done'">
            <a href="#" ng-click="getArticleFromJobID(job.job_id)">{{job.status}}</a>
          </div>
          <div ng-if="job.status != 'done'">{{job.status}}</div>
        </li>
        </ul>
</div>
      </div>
</div>

  <!--

          <span  
            ng-class="{ 'selected-class-name': itemIn('<% #nindex %>_<% #index %>') }"
            ng-click="itemClicked('<% #nindex %>_<%  #index %>')"><% #news_sent %></span>
  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script>
var rejornApp = angular.module('rejornApp', ['ui.bootstrap']);
      </script>
      <script>
        rejornApp.service('newsContentInitializer', function(){
        return <%= @news.to_json %>;
        });
      </script>
    <script src="/js/ui-bootstrap-custom-0.10.0.js"></script>
    <script src="/js/ui-bootstrap-custom-tpls-0.10.0.js"></script>
    <script src="/js/rejourn-ctrl.js"></script>

  </body>
</html>
