<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">News Shelf Admin</a>
    <ul class="nav">
        <li><a href="/">Articles</a>
        <li><a href="/search">Search</a>
        <li><a href="/tag">Tag</a>
    </ul>
  </div>
</div>
