<!DOCTYPE html>
<html ng-app="rejornApp">
	<head>
		<title>Tags</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="padding-top: 40px">
      <style>
        .selected-class-name { background-color: yellow;}
        .content { background-color: none;}
        .not-content { background-color: yellow;}
        .extra {background-color: red; }
        .list {display: block;}
        .inline {display: inline; margin: 3px;}
      </style>
<%= erb :nav  %>

      <div id="tag" class="span10" style="padding: 10px 0px;" ng-controller="tagCtrl">
        <input placeholder="Context" size=20 ng-model="context"></input>
        <button ng-click="get_things(context)">Get Context</button>
        <input placeholder="Tags" size=20 ng-model="add_tag"></input>
        <button ng-click="set_things(add_tag)">Set Tag</button>
<h4>{{context}}</h4>
<ul>
<li ng-repeat="key in keys">
<a href="#" ng-click="get_context(key)">{{key}}</a>
<a href="#" ng-click="del_tags(key)"><i class="icon-minus"></i></a>
</li>
</ul>
<ul>
<li ng-repeat="tag in tags">
{{tag}} 
<a href="#" ng-click="del_tags(tag)"><i class="icon-minus"></i></a>
</li>
</ul>
<ul>
<li ng-repeat="hash_key in hash_keys">
{{hash_key}} {{hashes[hash_key]}}
<a href="#" ng-click="del_hash(hash)"><i class="icon-minus"></i></a>
</li>
</ul>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script>
var rejornApp = angular.module('rejornApp', ['ui.bootstrap']);
      </script>
    <script src="/js/ui-bootstrap-custom-0.10.0.js"></script>
    <script src="/js/ui-bootstrap-custom-tpls-0.10.0.js"></script>
    <script src="/js/tag-ctrl.js"></script>

  </body>
</html>
